@import "../variables";
@import "../mixins";

.article {
	@include respond(tab-port) {
		margin-bottom: 3rem;
	}

	&__image {
		position: relative;
		height: 32.2rem;

		@include respond(tab-port) {
			height: initial;
		}
	}

	&__title {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20rem;
		height: 4rem;
		background-image: linear-gradient(to right, #d20309, #d10309);
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-white;
	}

	&__content {
		padding: 3rem;
		background-color: $color-white;

		/deep/ p {
			margin: 2.2rem 0;
			font-size: 1.5rem;
			line-height: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		/deep/ h3 {
			font-size: 2.2rem;
			line-height: 2rem;
		}
	}
}
