.article {
	&__image {
		position: relative;
		height: 32rem;
		width: 100%;
	}

	&__title {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20rem;
		height: 4rem;
		// background-color: linear-gradient();
	}
}
