@import "../variables";

.players-stats {
	background-color: $color-players_stats_bg;
	padding: 3rem 3rem 0.5rem;

	&__title {
		& > h2 {
			display: inline-block;
			color: $color-white;
			margin-right: 1.5rem;
		}

		& > span {
			color: $color-error;
		}
	}

	&__list {
		& > *:nth-child(n + 2) {
			border-top: 1px solid rgba($color-border, 0.3);
		}
	}

	&__list-title {
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;
		margin-bottom: 1.3rem;

		& > p {
			color: $color-white;

			&:last-child {
				transition: color 0.3s ease-out;

				&:hover {
					color: $color-primary;
					cursor: pointer;
				}
			}
		}
	}

	&__dots {
		height: 3rem;
		text-align: center;
		line-height: 1.3rem;
		font-size: 4rem;
		color: #686868;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: rgb(51, 51, 51);

			& > span {
				transform: scale(1.2);
			}
		}

		& > span {
			width: 36px;
			height: 9px;
			display: inline-block;
			background-repeat: no-repeat;
			transition: transform 0.3s ease-in;
		}
	}
}
