@import "../variables";
@import "../mixins";

.players-stats {
	background-color: $players_stats_bg;
	padding: 3rem 3rem 0.5rem;

	&__title {
		& > h2,
		& > span {
			font-size: 2.4rem;
			line-height: 3.5rem;
		}

		& > h2 {
			display: inline-block;
			color: $white;
			font-weight: 400;
			margin-right: 1.5rem;
		}

		& > span {
			color: $error;
		}
	}

	&__list {
		& > *:nth-child(n + 2) {
			@include border;
		}
	}

	&__list-title {
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;
		margin-bottom: 1.3rem;

		& > p {
			color: $white;
			font-size: 1.5rem;

			&:last-child {
				transition: color 0.3s ease-out;

				&:hover {
					color: $primary;
					cursor: pointer;
				}
			}
		}
	}

	&__dots {
		height: 3rem;
		text-align: center;
		line-height: 1.3rem;
		font-size: 4rem;
		color: #686868;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: rgb(51, 51, 51);

			& > span {
				transform: scale(1.2);
			}
		}

		& > span {
			width: 3.6rem;
			height: 1rem;
			display: inline-block;
			background-repeat: no-repeat;
			transition: transform 0.3s ease-in;
		}
	}
}
