@import "../mixins";

.blog {
	display: flex;
	position: absolute;
	padding-bottom: 3rem;

	@include respond(tab-port) {
		flex-direction: column;
	}

	&__article,
	&__players-stats {
		flex-basis: 50%;
	}
}
